[Unit]
Description=Doorbell healthcheck daemon
# Just waiting for network etc is not enough, we don't want to run
# until we can actually resolve stuff, otherwise the first ping will fail
After=dns-online.service
Requires=dns-online.service

[Service]
Type=simple
ExecStart=/opt/doorbell/bin/doorbell run
WorkingDirectory=/opt/doorbell
Environment=DOORBELL_CONFIG=/opt/doorbell/config.yaml
User=root
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
