[Unit]
Description=Zigbee2MQTT
After=network.target mosquitto.service
Requires=mosquitto.service

[Service]
ExecStart=/home/zigbee/.nvm/versions/node/${NODE_VERSION}/bin/node index.js
WorkingDirectory=/opt/zigbee2mqtt
User=zigbee
Group=zigbee
Restart=on-failure
Environment=PATH=/home/zigbee/.nvm/versions/node/${NODE_VERSION}/bin:/usr/bin:/bin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
